$primary-color: #f4e041;
$color-hover: #ffe302;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$disabled-color: rgba(255, 255, 255, 0.87);
$disabled-background-color: #b4b4b4;
$white: #fff;
$error: #cb3d40;
$font-primary-color: rgba(0, 0, 0, 0.87);
$font-secondary-color: rgba(255, 255, 255, 1);
$placeholder-color: rgba(126, 126, 126, 1);
$color-border-input: #d0cfcf;
$color-error: #cb3d40;
