@import-normalize;

@import "./shared.scss";

@font-face {
  font-family: "Nunito";

  src: local("Nunito"), url("./../fonts/Nunito-Regular.woff") format("woff"),
    url("./../fonts//Nunito-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: $background-color;
  color: $font-primary-color;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}
