.header-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
}
.logo {
  display: flex;
}

.logo_paragraph {
  margin: 0;
}
.header-task_sign {
  margin-left: 10px;
}
